@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@font-face {
  font-family: "rogStrix";
  src: url("./fonts/asusrog_regular.ttf") format("truetype");
}
html,
body {
  min-width: 100vw;
  width: auto;
  min-height: 100vh;
  height: 100%;
  overflow-x: hidden;
}

.header--banner {
  z-index: 10;
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.container {
  position: relative;
  margin-top: 60px;
}
.header--banner img {
  width: 200px;
  height: 50px;
  display: block;
  object-fit: cover;
  cursor: pointer;
}

.ullist {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

.il--item:hover {
  color: rgb(255, 0, 128);
}
.accout--control {
  width: 250px;
  display: flex;
  align-items: center;
}
.accout--control img {
  width: 35px;
  height: 35px;
  border-radius: 100rem;
}
.accout--control ion-icon {
  color: black;
}
.cart {
  width: 400px;
  height: 700px;
  right: 150px;
  z-index: 999999;
  transform: translateX(-10%);
  position: absolute;
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  top: 50px;
  display: none;
  overflow: hidden;
}
.cart--content {
  height: 100%;
  width: 100%;
  display: flex;
  position: absolute;
}
.item {
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
}
.item img {
  width: 100px;
  height: 100px;
}
.cart--produce--price {
  color: red;
}
.close--produce {
  position: absolute;
  right: 20px;
  top: 10px;
  font-size: 25px;
  color: red;
}
.total {
  right: 10px;
  position: absolute;
  bottom: 60px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

#checkout {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50px;
  background-color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: white;
}
#clear {
  left: 0;
  bottom: 0;
  position: absolute;
  width: 50%;
  height: 50px;
  background-color: red;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.adminControlpaner {
  display: none;
  position: absolute;
  width: 150px;
  height: 50px;
  z-index: 999999;
  background-color: white;
  right: 150px;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  justify-content: space-between;
  flex-direction: column;
}
.adminControlpaner a {
  color: black;
  width: 100%;
  text-align: center;
  cursor: pointer;
}
.adminControlpaner a:hover {
  background-color: rgb(255, 199, 235);
}
.Logout:hover {
  width: 100%;
  text-align: center;
  cursor: pointer;
  background-color: rgb(255, 199, 235);
}
.active {
  display: block;
}
.activeFlex {
  display: flex;
}
.biggerBanner {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.biggerBanner--content {
  width: 100%;
  position: relative;
  height: 100%;
  text-align: center;
  background-color: black;
  padding: 80px 10px 0 25px;
}
.biggerBanner--img {
  position: relative;
  width: 100%;
  height: 100%;
}
.title {
  font-size: 50px;
  font-family: "rogStrix";
  background: linear-gradient(to right, #2b72ff, #ef2eab, rgb(229, 52, 52));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.biggerBanner--detal {
  position: relative;
  margin-top: 15px;
  text-align: left;
  color: white;
  font-size: 20px;
  line-height: 30px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.moreInfomation {
  position: relative;
  margin-top: 15px;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
}
.box {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-align: left;
  color: white;
  display: flex;
  column-gap: 15px;
  align-items: center;
}
.box img {
  width: 70px;
  height: 70px;
}
.spooner {
  position: relative;
  margin-top: 25px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.img-1 {
  width: 80px;
  height: 80px;
}
.img-2 {
  width: 200px;
  height: 60px;
}

.img-3 {
  width: 200px;
  height: 60px;
}
.buyNow {
  position: relative;
  width: 250px;
  margin-top: 35px;
  height: 50px;
  font-family: "rogStrix";
  font-size: 30px;
  background: linear-gradient(to right, #2b72ff, #ef2eab, rgb(229, 52, 52));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 2px solid;
  border-image: linear-gradient(to right, #2b72ff, #ef2eab, rgb(229, 52, 52)) 1;
}
.disable {
  display: none;
}
.produts {
  width: 100%;
  position: relative;
  margin-top: 100px;
  height: auto;
}
.header--img {
  position: relative;
  width: 100%;
  display: flex;
  overflow: hidden;
  height: 300px;
  justify-content: space-between;
}
.header--img img {
  position: relative;
  display: block;
  width: 100%;
  height: 400px;
}
.produce--main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-wrap: wrap;
  grid-row-gap: 15px;
  position: relative;
  margin-top: 105px;
}
.produce--boxed {
  position: relative;
  width: 250px;
  height: 400px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 25px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.produce--img {
  width: 100%;
  height: 70%;
}
.produce--price {
  position: relative;
  left: 15px;
}
.produce--name {
  position: relative;
  margin-left: 5px;
  text-wrap: wrap;
}
.rate {
  position: relative;
  left: 15px;
  color: rgb(255, 217, 0);
}
.rate span {
  color: black;
}
.produce--btn__buy {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 35px;
  border-radius: 10px;
  background: linear-gradient(to right, #2b72ff, #ef2eab, rgb(229, 52, 52));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 1px solid;
  border-color: black;
}
